body{
    font-family: 'Noto Sans', sans-serif;
}

#inputDivs{
    overflow-x: scroll;
    white-space: nowrap;
}

.day{
    width: 33%;
    display: inline-table;
    margin: 1em;
    background: aliceblue;
    padding: 1em;
    border-radius: 1.5em;
}

.date, .img-date, .img-loc{
    text-align: center;
}

.date{
    font-weight: bold;
}

img{
    display: block;
    margin: auto;
}