body{
    font-family: 'Noto Sans', sans-serif;
}

#inputDivs{
    overflow-x: scroll;
    white-space: nowrap;
}

.day{
    width: 340px;
    display: inline-table;
    margin: 1em;
    background: aliceblue;
    padding: 1em;
    border-radius: 1.5em;
}

.entry{
    margin-bottom: 1.5em;
}

.date, .img-date, .img-loc, .steps{
    text-align: center;
}

.date{
    font-weight: bold;
}

.img-loc{
    font-size: 0.7em;
    overflow: scroll;
}

img{
    display: block;
    margin: auto;
}